

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.cover {
    color:white;
}

.cover pre {
    color:white;
    background-color:white;
    border:none;
}

.summarybox {
    border-style: solid;
    border-width: 1px;
    padding:20px;
}

.summary-header {
    font-size:16px;
    font-weight:bold;
    text-align:center;
}

h2 {
    font-size:30px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}







