

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.cover {
    color:white;
}

.cover pre {
    color:white;
    background-color:white;
    border:none;
}

h2 {
    font-size:30px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}







